<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <script src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js"></script>
    <link
    rel="stylesheet"
    href="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <body>

    <header class="page-header" role="banner">
      <div class="main-content">
          {% for image in site.static_files %}
          {% assign myImages = image.path | remove : "/index.md" %}
            <img src="{{ myImages}}" style='max-height:250px'>
          {% endfor %}
      </div>
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 > Software Engineer </h2>
      <h2 class="project-tagline">
        <i class="fas fa-envelope"  style="padding:0 10px"><a href="mailto:someone@example.com?Subject=Hello%20from%20your%20profile" style="color:white"> klogic@hotmail.co.th </a></i>
        <i class="fab fa-linkedin" style="padding:0 10px"> <a href="https://www.linkedin.com/in/klogic/" target="_blank" style="color:white">klogic </a></i>
        <i class="fas fa-map-marker-alt" style="padding:0 10px"> Bangkok Thailand  </i> </h2>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <h2>My Articles</h2>
      <div id="jsonContent"></div>

    <h2>My Github Activity</h2>
    <div class="calendar">
      Loading KLoGic Data...
    </div>
    <script>
        new GitHubCalendar(".calendar", "klogic");
        $(document).ready(function(){
            $(".calendar").css({"width": "auto"})
        })
        setTimeout(function(){
          if($(window).innerWidth() <= 751) {
            $(".js-calendar-graph-svg").css({"width": "100%"})
          }
          $(".js-activity-overview-graph-container").remove()
        },2000)
         $.date = function(dateObject) {
              var d = new Date(dateObject);
              var day = d.getDate();
              var month = d.getMonth() + 1;
              var year = d.getFullYear();
              if (day < 10) {
                  day = "0" + day;
              }
              if (month < 10) {
                  month = "0" + month;
              }
              var date = day + "/" + month + "/" + year;

              return date;
          };
        // get article here
        $(function() {
          var $content = $('#jsonContent');
          var data = {
              rss_url: 'https://medium.com/feed/@klogic'
          };

          $.get('https://api.rss2json.com/v1/api.json', data, function(response) {
              if (response.status == 'ok') {
                  var output = '';
                  $.each(response.items, function(k, item) {
                      var visibleSm;
                      if (k < 3) {
                          visibleSm = '';
                      } else {
                          visibleSm = ' visible-sm';
                      }
                      output += '<div class="col-sm-6 col-md-4' + visibleSm + '">';
                      output += '<div class="blog-post" style="padding:10%; text-align:center"><header>';
                      var tagIndex = item.description.indexOf('<img'); // Find where the img tag starts
                      var srcIndex = item.description.substring(tagIndex).indexOf('src=') + tagIndex; // Find where the src attribute starts
                      var srcStart = srcIndex + 5; // Find where the actual image URL starts; 5 for the length of 'src="'
                      var srcEnd = item.description.substring(srcStart).indexOf('"') + srcStart; // Find where the URL ends
                      var src = item.description.substring(srcStart, srcEnd); // Extract just the URL
                      output += '<div class="blog-element"><img class="img-responsive" src="' + src + '" width="100%" height="100%"></div></header>';
                      output += '<div class="blog-content"><h3 style="display:inline"><a target="_blank" href="' + item.link + '">' + item.title + '</a></h3>  <span style="font-size:12px">' + '['+$.date(item.pubDate, "dd<br>MMM")+']</span>';
                      //re-trim if we are in the middle of a word
                      output += '</div><br></div></div>';
                      return k < 3;
                  });
                  output+="<div class='blog-content' style='text-align:center'><h3><a href='https://medium.com/@klogic/' target='_blank'>Read More On Medium</a></h3></div>"
                  $content.html(output);
              }
          });
      });
    </script>
    <h2>My Coding time.</h2>
    <a href="https://wakatime.com"><img src="https://wakatime.com/share/@Narongsuk1/116fd1e2-de10-43d7-9d21-ce7c88c5c94e.png" /></a>
        <footer class="site-footer">
            <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="https://www.linkedin.com/in/klogic/">{{ site.github.owner_name }}</a>.</span>
        </footer>
      </main>
    </body>
  </html>