<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <body>

    <header class="page-header" role="banner">
      <div class="main-content">
          {% for image in site.static_files %}
          {% assign myImages = image.path | remove : "/index.md" %}
            <img src="{{ myImages}}" style='max-height:250px'>
          {% endfor %}
      </div>
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 > Software Engineer </h2>
      <h2 class="project-tagline"><i class="fas fa-envelope"></i> klogic@hotmail.co.th <i class="fab fa-linkedin"></i> klogic <i class="fas fa-map-marker-alt"></i> Bangkok Thailand </h2>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="https://www.linkedin.com/in/klogic/">{{ site.github.owner_name }}</a>.</span>
      </footer>
    </main>
  </body>
</html>